body {
  font-family: sans-serif;
  margin: 0;
  background-color: #72dede;
}
.avatar {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  border: 2px solid #008080;
}
li {
  list-style-type: none;
}
.repo_url {
  text-decoration: none;
  color: #72dede;
  font-size: 20px;
  font-weight: bolder;
}
.repo_tags {
  font-size: 15px;
  color: #fff;
  background-color: #008080;
  margin-left: 5px;
  padding: 5px;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
